html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; 
	padding: 0;
	border: 0;
	font-size: 100%; 
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%; 
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
    width: 1152px; /*задаем ширину html-странички*/
}
.header-menu {
    list-style-type: none; /*убираем маркеры*/
    float:right; /*прижимаем меню к правой стороне сайта*/
    margin-top:27px; /*делаем отступ сверху*/
}
.header-menu__element{
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:38px; /*Добавляем отступ у пунктов меню*/
}
.menu-link{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    font-family: heebo; /*меняем шрифт*/
    color:#000000; /*меняем цвет ссылок*/
}
.header-titles{
    position:absolute;
    width: 506px;
    height: 105px;
    left: 148px;
    top: 228px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}
.header-titles__label{
    position: absolute;
    width: 497px;
    height: 66px;
    left: 148px;
    top: 373px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.header-link{
    position: absolute;
    top: 477px;
    left: 148px;
    width: 208px; 
    height: 47px;
    background: #FF6464;
    text-align: center;
}
.header-link a{
    display: block;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 47px;
    text-decoration: none;
    background-position: center;
    border-radius: 2px;
    color: #FFFFFF;
}
.header-avatar{
    position: absolute;
    top: 210px;
    left: 780px;
}
.posts{
    position: absolute;
    display: flex;
    height: 396px;
    width: 872px;
    margin-top: 595px;
    margin-left: 148px;
    border-radius: 0px;
    background-color: #EDF7FA;
    justify-content: space-between;
}
.titles-blok{
    position: absolute;
    display: flex;
    width: 872px;
    height: 60px;
    margin-top: 7px;
    line-height: 60px;
    justify-content: space-between;
}
.titles-text{
    font-weight: 400;
    font-size: 22px;
    font-family: heebo;
    text-decoration: none;
    color: #000;
}
.posts__all{
    font-family:heebo;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}
.massage{
    /* margin-left: 148px;  */
    margin-top: 65px;
    float:left;
    border-radius: 4px;
    width: 418px;
    height: 295px;
    background-color: #FFFFFF;
}
.massage__titles{
    display: block;
    margin-top:24px;
    margin-left: 23px;
    width: 374px;
    height: 85px;
    font-family: heebo;
    font-size: 26px;
    font-weight: 700;
    line-height: 44px;
    color: Dark Color;
}
.massage__data{
    width: 148px;
    height: 34px;
    color: var(--dark-color, #21243D);
    font-size: 18px;
    font-family: Heebo;
}
.massage__place{
    width: 160px;
    height: 34px;
    padding-left: 44px;
    color: var(--dark-color, #21243D);
    font-size: 18px;
    font-family: Heebo;
}
.cont{
    display: inline-flex; 
    width: 374px;
    height: 34px;
    margin-top: 17px;
    margin-left: 23px;
    align-items: baseline;
}
.massage__content{
    width: 368px;
    height: 117px;
    color: var(--dark-color, #21243D);
    font-size: 16px;
    font-family: Heebo;
    margin-top: 11px;
    margin-left: 23px;
}